client/node_modules
fastapi_server/.venv
fastapi_server/models/__pycache__
fastapi_server/routes/__pycache__/
fastapi_server/__pycache__/
fastapi_server/.env
fastapi_server/init_db.sql
fastapi_server/binarybuff.db
